export(dsadmin.get_method)
export(dsadmin.get_methods)
export(dsadmin.install_datashield)
export(dsadmin.rm_method)
export(dsadmin.set_method)
export(oadmin.install_devtools)
export(oadmin.installed_devtools)
export(oadmin.installed_package)
export(oadmin.install_github)
export(oadmin.install_package)
export(oadmin.package_description)
export(oadmin.remove_package)
export(opal.load_package)
export(opal.unload_package)
